body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 0%, 97%, 0.877);
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(20, 238, 238);
}

form input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}

.todo-item.completed .todo-text {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-btn:hover {
    opacity: 0.8;
}

.filter-btn {
    margin: 5px 3px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.filter-section.active {
    background-color: #00c3ff;
    color: white;
    border: none;

}
#btn-filter.active{
    background-color: #00c3ff;
    color: white;
    border: none;
}

b{
    color: rgb(131, 7, 13);
}
.empty-state{
    
}

