<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div class="container">

        <div class="header">
            <h1><u>{{$ctrl.title}}</u></h1>
            <p>{{$ctrl.message}}</p>
        </div>

        <form ng-submit="$ctrl.addTodo()" class="input-group">
            <input type="text" ng-model="$ctrl.newTodo" placeholder="Write your todo list plan here..." required
                class="write-box">
            <br><br>
            <button type="submit" ng-disabled="!$ctrl.newTodo" class="addbutton">
                Add Task
            </button>
        </form>

        <div class="stats" ng-show="$ctrl.todos.length">
            <div>Total: {{$ctrl.todos.length}}</div>
            <div>Active: {{$ctrl.remaining}}</div>
            <div>Completed: {{$ctrl.completed}}</div>
        </div>

        <div class="todo-list">
            <p ng-show="!$ctrl.filteredTodos.length">
                <b>No task found, add one above...</b>
                <b ng-if="$ctrl.filter !== 'all'">
                    There's no {{$ctrl.filter}} tasks
                </b>
            </p>

            <div ng-repeat="todo in $ctrl.filteredTodos track by $index" class="todo-item"
                ng-class="{completed: todo.completed}">

                <input type="checkbox" ng-model="todo.completed" ng-change="$ctrl.refresh()" class="checkbox">

                <span ng-if="$ctrl.editingTodo !== todo">
                    {{todo.text}}
                </span>

                <input type="text" ng-if="$ctrl.editingTodo === todo" ng-model="$ctrl.editText"
                    ng-keyup="$event.keyCode === 13 && $ctrl.saveEdit()">

                <button ng-if="$ctrl.editingTodo !== todo" ng-click="$ctrl.startEdit(todo)" id="btn-hover">
                    Edit
                </button>

                <button ng-if="$ctrl.editingTodo === todo" ng-click="$ctrl.saveEdit()" id="btn-hover">
                    Save
                </button>

                <button ng-if="$ctrl.editingTodo === todo" ng-click="$ctrl.cancelEdit()" id="btn-hover">
                    Cancel
                </button>

                <button ng-click="$ctrl.delete(todo)" id="btn-hover-red">
                    Delete
                </button>
            </div>
        </div>

        <div class="filter-section" ng-show="$ctrl.todos.length">
            <button ng-click="$ctrl.setFilter('all')" ng-class="{active: $ctrl.filter === 'all'}" id="btn-filter">
                All
            </button>

            <button ng-click="$ctrl.setFilter('active')" ng-class="{active: $ctrl.filter === 'active'}" id="btn-filter">
                Active
            </button>

            <button ng-click="$ctrl.setFilter('completed')" ng-class="{active: $ctrl.filter === 'completed'}"
                id="btn-filter">
                Completed
            </button>
        </div>

    </div>
</body>

</html>